.plp-category-title {
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.plp-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  row-gap: 100px;
}
.plp-message {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
