.product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.product-card {
  padding: 16px;
  position: relative;
  transition: box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.product-card-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}
.product-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card-out-of-stock {
  opacity: 0.5;
}
@media (max-width: 992px) {
  .oos {
    text-align: center;
  }
}
.product-card-stock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  color: #8d8f9a;
}
.product-card-add-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}
.product-card:hover .product-card-add-button {
  opacity: 1;
}
.product-card-info {
  margin-top: auto;
}
.product-card-name {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.product-card-price {
  font-weight: 500;
  font-size: 18px;
  margin: 8px 0 0 0;
}
