body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1f22;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 80px 101px;
}

@media (max-width: 1200px) {
  main {
    padding: 40px 50px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }
}
